* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-container {
  width: 1440px;
  height: 720px;
  border-radius: 0px 0px 0px 60px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.hero-img {
  z-index: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.hero-sectio {
  width: 58%;
  height: 100%;
  z-index: 5;

  font-size: 32px;
  position: absolute;
  background-color: #00000094;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-info {
  width: 510px;
  height: 470px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.hero-name {
  color: #70ffe5;

  font-family: Helvetica Neue;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 7px;
}
.hero-titular {
  color: #fff;

  /* font-size: 4rem */
  font-family: Helvetica Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 64px */
}
.hero-detalle {
  color: #fff;
  width: 450px;
  /* .text-lg font-size: 1.125rem */
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
}
