a {
  text-decoration: none;
  color: inherit;
}
.BotonDonar {
  width: 209px;
  height: 46px;
  background-color: #70ffe5;
  border-radius: 24px;
  font-size: 16px;
  color: #302e39;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* bottom: -30px; */
}
.BotonDonar:hover {
  background-color: #459e8d;
  cursor: pointer;
  color: #fffefe;
}
.BotonDonar-children {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 1.6px;
}
