a {
  text-decoration: none;
  color: inherit;
}
/* 
  background-color: #70FFE5;
*/

.BarraHero {
  position: absolute;
  min-width: 100px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  bottom: -100px;
  border: 2px transparent solid;
  border-radius: 20px;
  padding: 0 20px;
}
.BarraHero:hover {
  border: 2px #484848 solid;
}

.BarraHero-punto {
  margin: auto 0;
  width: 8px;
  height: 8px;
  background-color: #70ffe570;
  border-radius: 50%;
}
.BarraHero-punto--mostrado {
  background-color: #70ffe5;
}

.BarraHero-punto:hover {
  scale: 1.5;
  cursor: pointer;
}
