.hero-icon {
  opacity: 0;
  transition: 0.6s ease-out;
}
.hero-cambiarSeccion {
  transition: 0.6s ease-in-out;
}
.hero-cambiarSeccion:hover {
  transform: translateY(30px);
}
.hero-cambiarSeccion:hover .hero-icon {
  opacity: 1;
  scale: 1.5;
}
@keyframes moverDiv {
  0% {
    
    transform: translateX(60px) translateY(10px); /* Mover -30px en el eje X */
  }
  100% {
    
    transform: translateX(0px) translateY(0px);
  }
}

.hero-info {
  animation: moverDiv 0.5s ease;
}
